@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
    box-sizing: border-box;
}

:root {
    --black: #222
}

body {
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

nav {
    margin: 1rem;
}

h3 {
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    flex: 1;
}

.main {
    width: auto;
    max-width: 1200px;
    max-height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    flex-basis: 50%;
    width: auto;
    height: 90%;
    margin: 0;
}

.image {
    flex-basis: 50%;
    width: 50%;
    padding: 1rem;
}

img {
    width: 100%;
    /* height: auto; */
    object-fit: cover;
}

h1 {
    font-size: 3rem;
}

p {
    margin: 3rem auto;
}

button {
    border: none;
    background-color: var(--black);
    color: white;
    padding: 1rem 2rem;
    cursor: pointer;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Montserrat';
    color: #999;
}

footer b {
    font-family: 'Montserrat';
}

@media only screen and (max-width: 900px) {
    body {
        width: calc(100% - 2rem);
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .content {
        height: 100%;
        max-width: 80%;
        margin: auto;
    }

    p {
        margin: 10px 0;
    }

    img {
        height: 100%;
    }   
}